<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Tutuka Remote API (Tomcat)</display-name>
    <!-- Specify your proxy class here. -->
    <context-param>
        <!-- Name the customer proxy class to be installed by the ProxyInstaller above. -->
        <param-name>customerProxyClass</param-name>
        <param-value>com.tingg.wallet.customer.CustomerProxy</param-value>
    </context-param>
    <!-- Use the ready-made installer to install it - it has access to the parameters above. -->
    <listener>
        <!-- Use the Proxy installer to install customer proxy. -->
        <listener-class>com.tutuka.companion.remote.ProxyInstaller</listener-class>
    </listener>
    <!-- Create the servlet. -->
    <servlet>
        <!-- Install the servlet. -->
        <servlet-name>RemoteAPIServlet</servlet-name>
        <description>
            Maps handler requests to my servlet.
        </description>
        <servlet-class>com.tutuka.companion.remote.RemoteAPIServlet</servlet-class>
        <init-param>
            <param-name>enabledForExtensions</param-name>
            <param-value>true</param-value>
            <description>
                Sets, whether the servlet supports vendor extensions for XML-RPC.
            </description>
        </init-param>
        <init-param>
            <param-name>enabledForExceptions</param-name>
            <param-value>true</param-value>
            <description>
                Pushes any exceptions back to the client.
            </description>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoteAPIServlet</servlet-name>
        <url-pattern>/xmlrpc/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoteAPIServlet</servlet-name>
        <url-pattern>/ke/xmlrpc/*</url-pattern>
    </servlet-mapping>
</web-app>

